<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dpsimple">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CarNameListDetailActivity" />
        <activity android:name=".CarDetailActivity"/>
        <activity android:name=".CarDetailDescriptionActivity"/>
        <activity android:name=".fragments.CarDescriptionActivity"/>

        <activity android:name=".Item2Activity" />
        <activity android:name=".Item3Activity" />
        <activity android:name=".Item4Activity" />
        <activity android:name=".Item5Activity" />

        <activity android:name=".fragments.DetailsActivity"/>
    </application>

</manifest>
